*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

#spectrum
{
    outline: none;
}

#pattern
{
    outline: none;
}

.visualizer-wrapper{
    display: flex;
    height: 100vh;
    flex-direction: column;
}